<div class="box">
	<a href="/search"><img src='https://cdn4.iconfinder.com/data/icons/food-icons/hamburger.png' class='button'/></a>
	<img src="http://www.picgifs.com/graphics/b/beer/graphics-beer-466936.gif" class="loading-image"/>
</div>
